In [61]:
import pandas as pd
import datetime

df = pd.read_csv('data.csv', sep=';', encoding='cp1251')
df

,Дата,День_температура,День_давление,День_ветер,Вечер_температура,Вечер_давление,Вечер_ветер
0,2008-01-10,-20.0,765,В 2м/с,-22.0,765.0,В 2м/с
1,2008-01-11,-20.0,764,-,-24.0,764.0,-
2,2008-01-12,-20.0,762,З 2м/с,-20.0,761.0,З 2м/с
3,2008-01-13,-9.0,756,ЮЗ 3м/с,-7.0,754.0,ЮЗ 3м/с
4,2008-01-14,-6.0,751,ЮЗ 2м/с,-4.0,752.0,ЮЗ 2м/с
...,...,...,...,...,...,...,...
5383,2022-10-17,10.0,761,ЮЗ 2м/с,7.0,759.0,ЮЗ 2м/с
5384,2022-10-18,8.0,752,ЮЗ 3м/с,7.0,748.0,ЮЗ 3м/с
5385,2022-10-19,10.0,743,В 1м/с,7.0,742.0,В 1м/с
5386,2022-10-20,8.0,746,СВ 2м/с,5.0,746.0,СВ 2м/с
5387,2022-10-21,7.0,747,СЗ 2м/с,2.0,749.0,СЗ 2м/с

In [62]:
df.rename(columns={"Дата": "data", "День_температура": "day_temp", "День_давление": "day_press", "День_ветер": "day_wind", 
                  "Вечер_температура": "even_temp", "Вечер_давление": "even_press", "Вечер_ветер": "even_wind"}, inplace=True)
df

            data  day_temp day_press day_wind  even_temp  even_press even_wind
0     2008-01-10     -20.0       765   В 2м/с      -22.0       765.0    В 2м/с
1     2008-01-11     -20.0       764        -      -24.0       764.0         -
2     2008-01-12     -20.0       762   З 2м/с      -20.0       761.0    З 2м/с
3     2008-01-13      -9.0       756  ЮЗ 3м/с       -7.0       754.0   ЮЗ 3м/с
4     2008-01-14      -6.0       751  ЮЗ 2м/с       -4.0       752.0   ЮЗ 2м/с
...          ...       ...       ...      ...        ...         ...       ...
5383  2022-10-17      10.0       761  ЮЗ 2м/с        7.0       759.0   ЮЗ 2м/с
5384  2022-10-18       8.0       752  ЮЗ 3м/с        7.0       748.0   ЮЗ 3м/с
5385  2022-10-19      10.0       743   В 1м/с        7.0       742.0    В 1м/с
5386  2022-10-20       8.0       746  СВ 2м/с        5.0       746.0   СВ 2м/с
5387  2022-10-21       7.0       747  СЗ 2м/с        2.0       749.0   СЗ 2м/с

[5388 rows x 7 columns]

In [63]:
df.loc[(df.day_temp == '-'), 'day_temp'] = 0
df.loc[(df.day_press == '-'), 'day_press'] = 0
df.loc[(df.day_wind == '-'), 'day_wind'] = 0
df.loc[(df.even_temp == '-'), 'even_temp'] = 0
df.loc[(df.even_press == '-'), 'even_press'] = 0
df.loc[(df.even_wind == '-'), 'even_wind'] = 0
df

            data  day_temp day_press day_wind  even_temp  even_press even_wind
0     2008-01-10     -20.0       765   В 2м/с      -22.0       765.0    В 2м/с
1     2008-01-11     -20.0       764        0      -24.0       764.0         0
2     2008-01-12     -20.0       762   З 2м/с      -20.0       761.0    З 2м/с
3     2008-01-13      -9.0       756  ЮЗ 3м/с       -7.0       754.0   ЮЗ 3м/с
4     2008-01-14      -6.0       751  ЮЗ 2м/с       -4.0       752.0   ЮЗ 2м/с
...          ...       ...       ...      ...        ...         ...       ...
5383  2022-10-17      10.0       761  ЮЗ 2м/с        7.0       759.0   ЮЗ 2м/с
5384  2022-10-18       8.0       752  ЮЗ 3м/с        7.0       748.0   ЮЗ 3м/с
5385  2022-10-19      10.0       743   В 1м/с        7.0       742.0    В 1м/с
5386  2022-10-20       8.0       746  СВ 2м/с        5.0       746.0   СВ 2м/с
5387  2022-10-21       7.0       747  СЗ 2м/с        2.0       749.0   СЗ 2м/с

[5388 rows x 7 columns]

In [64]:
df['day_temp_f'] = df['day_temp'] * 9/5 + 32
df

,data,day_temp,day_press,day_wind,even_temp,even_press,even_wind,day_temp_f
0,2008-01-10,-20.0,765,В 2м/с,-22.0,765.0,В 2м/с,-4.0
1,2008-01-11,-20.0,764,0,-24.0,764.0,0,-4.0
2,2008-01-12,-20.0,762,З 2м/с,-20.0,761.0,З 2м/с,-4.0
3,2008-01-13,-9.0,756,ЮЗ 3м/с,-7.0,754.0,ЮЗ 3м/с,15.8
4,2008-01-14,-6.0,751,ЮЗ 2м/с,-4.0,752.0,ЮЗ 2м/с,21.2
...,...,...,...,...,...,...,...,...
5383,2022-10-17,10.0,761,ЮЗ 2м/с,7.0,759.0,ЮЗ 2м/с,50.0
5384,2022-10-18,8.0,752,ЮЗ 3м/с,7.0,748.0,ЮЗ 3м/с,46.4
5385,2022-10-19,10.0,743,В 1м/с,7.0,742.0,В 1м/с,50.0
5386,2022-10-20,8.0,746,СВ 2м/с,5.0,746.0,СВ 2м/с,46.4
5387,2022-10-21,7.0,747,СЗ 2м/с,2.0,749.0,СЗ 2м/с,44.6

In [65]:
def filter_temp(df: pd.DataFrame, value: int) -> pd.DataFrame:
    """Creates a new DataDrame where the temperature >= value

    Args:
        df (pd.DataFrame): start DataFrame
        value (int): start temperature

    Returns:
        pd.DataFrame: filtered DataFrame
    """
    pf = df[df['day_temp'] >= value]
    return pf

filter_temp(df, df['day_temp'].mean())

,data,day_temp,day_press,day_wind,even_temp,even_press,even_wind,day_temp_f
75,2008-03-25,10.0,744,В 2м/с,5.0,742.0,В 2м/с,50.0
76,2008-03-26,15.0,738,В 3м/с,10.0,741.0,В 3м/с,59.0
77,2008-03-27,12.0,746,ЮЗ 2м/с,10.0,747.0,ЮЗ 2м/с,53.6
81,2008-03-31,10.0,753,С 2м/с,5.0,753.0,С 2м/с,50.0
82,2008-04-01,11.0,752,СВ 4м/с,5.0,752.0,СВ 4м/с,51.8
...,...,...,...,...,...,...,...,...
5378,2022-10-12,11.0,747,СВ 2м/с,10.0,747.0,СВ 2м/с,51.8
5379,2022-10-13,12.0,747,СЗ 2м/с,9.0,749.0,СЗ 2м/с,53.6
5382,2022-10-16,10.0,761,З 1м/с,2.0,762.0,З 1м/с,50.0
5383,2022-10-17,10.0,761,ЮЗ 2м/с,7.0,759.0,ЮЗ 2м/с,50.0
5385,2022-10-19,10.0,743,В 1м/с,7.0,742.0,В 1м/с,50.0

In [ ]:
def filter_data(df: pd.DataFrame, data_start: str, data_end: str) -> pd.DataFrame:
    """Creates a new DataDrame where the data_start <= data <= data_end

    Args:
        df (pd.DataFrame): start DataFrame
        data_start (str): start data
        data_end (str): end data

    Returns:
        pd.DataFrame: filtered DataFrame
    """
    df['data'] = pd.to_datetime(df['data'], format='%Y-%m')
    pf = df.loc[(df['data'] >= data_start) & (df['data'] <= data_end)]
    return pf

filter_data(df, '2010-01-10', '2020-10-21')

In [ ]:
from typing import Tuple

def group_month(df: pd.DataFrame, month: int) -> Tuple[pd.DataFrame, int]:
    """Group the DataFrame by month and calculate the average value of temperature.

    Args:
        df (pd.DataFrame): Start dataframe
        month (int): Number of month

    Returns:
        Tuple[pd.DataFrame, int]: filtered DataFrame and average value of temperature
    """
    df['month'] = df['data'].dt.month
    pf = df[df['month'] == month]
    return pf, pf['day_temp'].mean(), pf['day_temp_f'].mean()

group_month(df, 8)