In [61]:
import pandas as pd
import datetime

df = pd.read_csv('data.csv', sep=';', encoding='cp1251')
df

,Дата,День_температура,День_давление,День_ветер,Вечер_температура,Вечер_давление,Вечер_ветер
0,2008-01-10,-20.0,765,В 2м/с,-22.0,765.0,В 2м/с
1,2008-01-11,-20.0,764,-,-24.0,764.0,-
2,2008-01-12,-20.0,762,З 2м/с,-20.0,761.0,З 2м/с
3,2008-01-13,-9.0,756,ЮЗ 3м/с,-7.0,754.0,ЮЗ 3м/с
4,2008-01-14,-6.0,751,ЮЗ 2м/с,-4.0,752.0,ЮЗ 2м/с
...,...,...,...,...,...,...,...
5383,2022-10-17,10.0,761,ЮЗ 2м/с,7.0,759.0,ЮЗ 2м/с
5384,2022-10-18,8.0,752,ЮЗ 3м/с,7.0,748.0,ЮЗ 3м/с
5385,2022-10-19,10.0,743,В 1м/с,7.0,742.0,В 1м/с
5386,2022-10-20,8.0,746,СВ 2м/с,5.0,746.0,СВ 2м/с
5387,2022-10-21,7.0,747,СЗ 2м/с,2.0,749.0,СЗ 2м/с

In [62]:
df.rename(columns={"Дата": "data", "День_температура": "day_temp", "День_давление": "day_press", "День_ветер": "day_wind", 
                  "Вечер_температура": "even_temp", "Вечер_давление": "even_press", "Вечер_ветер": "even_wind"}, inplace=True)
df

            data  day_temp day_press day_wind  even_temp  even_press even_wind
0     2008-01-10     -20.0       765   В 2м/с      -22.0       765.0    В 2м/с
1     2008-01-11     -20.0       764        -      -24.0       764.0         -
2     2008-01-12     -20.0       762   З 2м/с      -20.0       761.0    З 2м/с
3     2008-01-13      -9.0       756  ЮЗ 3м/с       -7.0       754.0   ЮЗ 3м/с
4     2008-01-14      -6.0       751  ЮЗ 2м/с       -4.0       752.0   ЮЗ 2м/с
...          ...       ...       ...      ...        ...         ...       ...
5383  2022-10-17      10.0       761  ЮЗ 2м/с        7.0       759.0   ЮЗ 2м/с
5384  2022-10-18       8.0       752  ЮЗ 3м/с        7.0       748.0   ЮЗ 3м/с
5385  2022-10-19      10.0       743   В 1м/с        7.0       742.0    В 1м/с
5386  2022-10-20       8.0       746  СВ 2м/с        5.0       746.0   СВ 2м/с
5387  2022-10-21       7.0       747  СЗ 2м/с        2.0       749.0   СЗ 2м/с

[5388 rows x 7 columns]

In [63]:
df.loc[(df.day_temp == '-'), 'day_temp'] = 0
df.loc[(df.day_press == '-'), 'day_press'] = 0
df.loc[(df.day_wind == '-'), 'day_wind'] = 0
df.loc[(df.even_temp == '-'), 'even_temp'] = 0
df.loc[(df.even_press == '-'), 'even_press'] = 0
df.loc[(df.even_wind == '-'), 'even_wind'] = 0
df

            data  day_temp day_press day_wind  even_temp  even_press even_wind
0     2008-01-10     -20.0       765   В 2м/с      -22.0       765.0    В 2м/с
1     2008-01-11     -20.0       764        0      -24.0       764.0         0
2     2008-01-12     -20.0       762   З 2м/с      -20.0       761.0    З 2м/с
3     2008-01-13      -9.0       756  ЮЗ 3м/с       -7.0       754.0   ЮЗ 3м/с
4     2008-01-14      -6.0       751  ЮЗ 2м/с       -4.0       752.0   ЮЗ 2м/с
...          ...       ...       ...      ...        ...         ...       ...
5383  2022-10-17      10.0       761  ЮЗ 2м/с        7.0       759.0   ЮЗ 2м/с
5384  2022-10-18       8.0       752  ЮЗ 3м/с        7.0       748.0   ЮЗ 3м/с
5385  2022-10-19      10.0       743   В 1м/с        7.0       742.0    В 1м/с
5386  2022-10-20       8.0       746  СВ 2м/с        5.0       746.0   СВ 2м/с
5387  2022-10-21       7.0       747  СЗ 2м/с        2.0       749.0   СЗ 2м/с

[5388 rows x 7 columns]

In [64]:
df['day_temp_f'] = df['day_temp'] * 9/5 + 32
df

,data,day_temp,day_press,day_wind,even_temp,even_press,even_wind,day_temp_f
0,2008-01-10,-20.0,765,В 2м/с,-22.0,765.0,В 2м/с,-4.0
1,2008-01-11,-20.0,764,0,-24.0,764.0,0,-4.0
2,2008-01-12,-20.0,762,З 2м/с,-20.0,761.0,З 2м/с,-4.0
3,2008-01-13,-9.0,756,ЮЗ 3м/с,-7.0,754.0,ЮЗ 3м/с,15.8
4,2008-01-14,-6.0,751,ЮЗ 2м/с,-4.0,752.0,ЮЗ 2м/с,21.2
...,...,...,...,...,...,...,...,...
5383,2022-10-17,10.0,761,ЮЗ 2м/с,7.0,759.0,ЮЗ 2м/с,50.0
5384,2022-10-18,8.0,752,ЮЗ 3м/с,7.0,748.0,ЮЗ 3м/с,46.4
5385,2022-10-19,10.0,743,В 1м/с,7.0,742.0,В 1м/с,50.0
5386,2022-10-20,8.0,746,СВ 2м/с,5.0,746.0,СВ 2м/с,46.4
5387,2022-10-21,7.0,747,СЗ 2м/с,2.0,749.0,СЗ 2м/с,44.6

In [65]:
def filter_temp(df: pd.DataFrame, value: int) -> pd.DataFrame:
    """Creates a new DataDrame where the temperature >= value

    Args:
        df (pd.DataFrame): start DataFrame
        value (int): start temperature

    Returns:
        pd.DataFrame: filtered DataFrame
    """
    pf = df[df['day_temp'] >= value]
    return pf

filter_temp(df, df['day_temp'].mean())

,data,day_temp,day_press,day_wind,even_temp,even_press,even_wind,day_temp_f
75,2008-03-25,10.0,744,В 2м/с,5.0,742.0,В 2м/с,50.0
76,2008-03-26,15.0,738,В 3м/с,10.0,741.0,В 3м/с,59.0
77,2008-03-27,12.0,746,ЮЗ 2м/с,10.0,747.0,ЮЗ 2м/с,53.6
81,2008-03-31,10.0,753,С 2м/с,5.0,753.0,С 2м/с,50.0
82,2008-04-01,11.0,752,СВ 4м/с,5.0,752.0,СВ 4м/с,51.8
...,...,...,...,...,...,...,...,...
5378,2022-10-12,11.0,747,СВ 2м/с,10.0,747.0,СВ 2м/с,51.8
5379,2022-10-13,12.0,747,СЗ 2м/с,9.0,749.0,СЗ 2м/с,53.6
5382,2022-10-16,10.0,761,З 1м/с,2.0,762.0,З 1м/с,50.0
5383,2022-10-17,10.0,761,ЮЗ 2м/с,7.0,759.0,ЮЗ 2м/с,50.0
5385,2022-10-19,10.0,743,В 1м/с,7.0,742.0,В 1м/с,50.0

In [70]:
def filter_data(df: pd.DataFrame, data_start: str, data_end: str) -> pd.DataFrame:
    """Creates a new DataDrame where the data_start <= data <= data_end

    Args:
        df (pd.DataFrame): start DataFrame
        data_start (str): start data
        data_end (str): end data

    Returns:
        pd.DataFrame: filtered DataFrame
    """
    df['data'] = pd.to_datetime(df['data'], format='%Y-%m')
    pf = df.loc[(df['data'] >= data_start) & (df['data'] <= data_end)]
    return pf

filter_data(df, '2010-01-10', '2020-10-21')

,data,day_temp,day_press,day_wind,even_temp,even_press,even_wind,day_temp_f,month
731,2010-01-10,-12.0,760,0,-16.0,760.0,0,10.4,1
732,2010-01-11,-14.0,756,ЮЗ 1м/с,-12.0,756.0,ЮЗ 1м/с,6.8,1
733,2010-01-12,-11.0,752,ЮЗ 2м/с,-12.0,750.0,ЮЗ 2м/с,12.2,1
734,2010-01-13,-7.0,747,З 3м/с,-7.0,748.0,З 3м/с,19.4,1
735,2010-01-14,-8.0,751,СЗ 2м/с,-12.0,755.0,СЗ 2м/с,17.6,1
...,...,...,...,...,...,...,...,...,...
4656,2020-10-17,8.0,753,С 1м/с,3.0,755.0,С 1м/с,46.4,10
4657,2020-10-18,12.0,750,В 3м/с,14.0,746.0,В 3м/с,53.6,10
4658,2020-10-19,13.0,749,З 2м/с,6.0,749.0,З 2м/с,55.4,10
4659,2020-10-20,10.0,748,З 2м/с,7.0,748.0,З 2м/с,50.0,10
4660,2020-10-21,3.0,749,З 2м/с,2.0,751.0,З 2м/с,37.4,10

In [71]:
from typing import Tuple

def group_month(df: pd.DataFrame, month: int) -> Tuple[pd.DataFrame, int]:
    """Group the DataFrame by month and calculate the average value of temperature.

    Args:
        df (pd.DataFrame): Start dataframe
        month (int): Number of month

    Returns:
        Tuple[pd.DataFrame, int]: filtered DataFrame and average value of temperature
    """
    df['month'] = df['data'].dt.month
    pf = df[df['month'] == month]
    return pf, pf['day_temp'].mean(), pf['day_temp_f'].mean()

group_month(df, 8)

(           data  day_temp day_press day_wind  even_temp  even_press even_wind  \
 204  2008-08-01      23.0       750  ЮЗ 2м/с       15.0       750.0   ЮЗ 2м/с
 205  2008-08-02      24.0       747  ЮЗ 1м/с       17.0       747.0   ЮЗ 1м/с
 206  2008-08-03      25.0       747   З 3м/с       19.0       747.0    З 3м/с
 207  2008-08-04      23.0       742   С 2м/с       20.0       742.0    С 2м/с
 208  2008-08-05      24.0       744   З 2м/с       21.0       741.0    З 2м/с
 ...         ...       ...       ...      ...        ...         ...       ...
 5332 2022-08-27      32.0       755   В 1м/с       27.0       755.0    В 1м/с
 5333 2022-08-28      32.0       755   С 1м/с       23.0       754.0    С 1м/с
 5334 2022-08-29      32.0       753   В 2м/с       26.0       752.0    В 2м/с
 5335 2022-08-30      34.0       748  ЮЗ 3м/с       27.0       747.0   ЮЗ 3м/с
 5336 2022-08-31      31.0       745   З 1м/с       29.0       743.0    З 1м/с

       day_temp_f  month
 204         73.4      8
 205         75.2      8
 206         77.0      8
 207         73.4      8
 208         75.2      8
 ...          ...    ...
 5332        89.6      8
 5333        89.6      8
 5334        89.6      8
 5335        93.2      8
 5336        87.8      8

 [465 rows x 9 columns],
 25.961206896551722,
 78.73017241379311)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

df['day'] = pd.to_datetime(df['day'], format='%Y-%m-%d')
pf = df.loc[(df['day'] > '1998-01-01')]
pf
pf.plot(x = 'day', y = 'exchange_rate')
plt.ylabel('Exchange rate')
plt.xlabel('Day')
plt.title('Сurrency exchange rate changes over all time')
plt.show()